text {font-family: "Frutiger Neue Bold", sans-serif; font-size:12px;}
polyline {fill:none; stroke:black; stroke-width:1px;}
polygon {fill:none; stroke:black; stroke-width:1px;}

body {
    font-size: 0.75em;
    font-family: "Frutiger Neue Bold", sans-serif;
}

#wrapper {
    width: 1170px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 6em 0 rgba(0,0,0,.6);
    font-size: 14px;
    font-family: "Frutiger Neue Bold", sans-serif;
}

#wrapper button {
    font-size: 14px;
    font-family: "Frutiger Neue Bold", sans-serif;
}

#wrapper p {
    font-size: 14px;
    font-family: "Frutiger Neue Bold", sans-serif;
}

#wrapper label {
    font-weight: normal;
}


#inputPeriod {
    margin-top: 3%;
}

#centerMap {
    z-index: 2000;
    position: absolute;
    bottom: 6%;
    right: 2%;
}

#changeOlMap {
    z-index: 2000;
    position: absolute;
    bottom: 20%;
    right: 2%;
}

#wrapper .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 2px #5c5b5b solid !important;
}
#wrapper .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px 10px 15.2px;
    font-size: 16px;
    line-height: 1.33;
    border-radius: 25px;
}
#wrapper .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.btn:focus {
    outline:none !important;
}

.btn.activeCircle {
    border: 4px #20add8 solid !important;
    pointer-events: none;
}

#allLayersBox {
    position: absolute;
    z-index: 3000;
    bottom: 20%;
    right: 7.5%;
    width: auto;
    transition:0.3s linear all;
    opacity:1;
}

#allLayersBox.ng-hide{
    transition:0.3s linear all;
    opacity:0;
}

#allLayersBox button {
    margin-left: 5px;
}

#allLayersBox button:hover {
    border: 3px solid #555454 !important;
}

.paddingNull {
    padding: 0;
}

.row.margin-top-plus {
    margin-top: 5.5%;
}

.headerrow {
    height: 130px;
    font-weight: bold;
    font-size: 0.75em;
    font-family: "Frutiger Neue Bold", sans-serif;
}

.headerrow p:first-child {
    margin-top: 33px;
}

#logo_suisse {
    
}

#logo_suisse img {
    border-right: 1px solid black;
    width: 93%;
    margin-top: 35px;
    margin-left: 20px;
    padding-right: 20px;
}


/*=================================================*/

.connection {
    stroke: grey;
    cursor: pointer;
}

.connection:hover {
    stroke: #484848;
}

.tooltip {
    padding: 5px 15px 5px 15px;
    background-color: #5f5f5f;
    color: white;
    font-size: bold;
    pointer-events: none;
}

.circleToFarm {
    stroke: #e3e3e3;
    fill: #333333;
    cursor: pointer !important;
}

.circleToFarm:hover {
    stroke: black;
    fill: red;
    cursor: pointer !important;
}

.circleFromFarm {
    stroke: #e3e3e3;
    fill: #333333;
    cursor: pointer !important;
}

.circleFromFarm:hover {
    stroke: black;
    fill: red;
    cursor: pointer !important;
}

.highCentrality {
    fill: blue !important;
}

.lowCentrality {
    fill: #9f9f9f !important;
}

.pathToFarm {
    stroke: #e3e3e3;
    fill: #333333;
    cursor: pointer !important;
}

.pathToFarm:hover {
    fill: red;
    cursor: pointer !important;
}

.pathFromFarm {
    stroke: #e3e3e3;
    fill: #333333;
    cursor: pointer !important;
}

.pathFromFarm:hover {
    stroke: black;
    fill: red;
    cursor: pointer !important;
}

.startingSite {
    stroke: #3a3296;
    fill: #d1b925;
    cursor: pointer !important;
}

.startingSite:hover {
    stroke: black;
    fill: red;
    cursor: pointer !important;
}

.monitoringZone {
    stroke: black;
    stroke-width: 3px;
    fill: rgba(255, 167, 0, 0.28);
}

.protectionZone {
    stroke: black;
    stroke-width: 3px;
    fill: rgba(255, 0, 0, 0.43);
}

.allBusinesses {
    fill: #545d8d;
    opacity: 0.7;
    stroke: black;
    stroke-width: 1px;
}

/*=================================================================*/

marker path {
    fill: black;
    opacity: 0.6;
}

.d3-slider-handle {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#difference span{
    cursor: pointer;
}

svg {
    pointer-events: all;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    overflow: visible !important;
}

#map {
    position: relative;
    width: 90%;
    height: 500px;
    left:5%;
}

.boundaries {
    stroke: black;
    stroke-width: 3px;
    fill: none;
    
}

.dataResults .box nav{
    height: 40px;
}

.dataResults .box nav li{
    padding: 10px;
    cursor: pointer;
}

.activeDataTable {
    background-color: #EBEBEB;
}

.nav-main {
    background: linear-gradient(to bottom,#e4e4e4 0,#e2e2e2 39%,#ddd 79%,#d5d5d5 91%,#cfcfcf 95%,#bebebe 99%);
    border-top: .45em solid #DC0018 !important;
}

.nav-main li {
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),color-stop(61%,#f7f7f7),color-stop(89%,#f7f7f7),color-stop(91%,#f5f5f5),color-stop(95%,#ececec),to(#d7d7d7));
    cursor: pointer;
}

.nav-main li a {
    color: black;
}

.nav-main li.active {
    background: white;
    border-bottom: none;
}

.navbar-data li {
    padding-top: 15px !important;
    height: 48px;
}

#impressum p{
    cursor: pointer;
    font-size: 17px;
}

.btn.btn-border {
    border: 1px solid #8e8e8e;
}

.btn-absolute {
    position: absolute;
    top: 20px;
    right: 0px;
}

.btn:hover {
    border: 1px solid #5c5c5c;
}

#selectExample {
    margin-left: 10px;
}

#showAllBusinessesSettings .box{
    margin-top: 20px;
    border-width: 1px;
}











