<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<title>Titel der Seite</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="de">
	<meta name="Robots" content="index, follow, noodp">
	<meta name="Keywords" lang="de" content="LINDAS">
	<meta name="Description" lang="de" content="Beschreibung">
	<meta http-equiv="expires" content="0">

	<!--<meta name="copyright" content="ProfessorWeb | www.professorweb.de">-->
	<meta name="author" content="Janik Endtner">

	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <!--Stylesheets for bootstrap, business-casual template, leaflet-->
	<link rel="stylesheet" type="text/css" href="external/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/business-casual.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
    <link rel="stylesheet" href="external/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.min.css"/>
    
    <!-- include bootstrap, jquery, leaflet and d3.js-->
    <script type="text/javascript" src="external/jquery/jquery.js"></script>
    <script type="text/javascript" src="external/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="external/d3/d3.min.js"></script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    
    <!--Include javascripts and CSS for Datetimepicker-->
    <script type="text/javascript" src="external/moment/moment.js"></script>
    <script type="text/javascript" src="external/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js"></script>

    <!--Include Angular.js-->
    <script type="text/javascript" src="external/angular_v1_4_8.js"></script>
    
	<link rel="shortcut icon" href="img/favicon.ico">

	<script type="text/javascript">

	</script>
</head>

<body>

<div class="brand">LINDAS</div>
<div class="address-bar">Showcase Linked Data: Ausbruchsabklärung von Tierseuchen</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">LINDAS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container" ng-app="lindasMain" ng-controller="lindasMainCtrl" id="lindasMainContainer">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="map" style="width: 100%; height: 500px">
                    <button id="centerMap" onclick="map.centerMap()" type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-screenshot"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Eingabemaske</h2>
                <hr>
                <hr class="visible-xs">
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <label>ID Betrieb:</label>
                            </div>
                        </div>
                        <div id="inputFieldID">
                            <div class="row">
                                <div class="col-md-8" ng-repeat="x in tieIds track by $index">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="&lt;&lt;ID Eingeben&gt;&gt;" ng-model="tieIds[$index]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                        CSV hochladen
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="invalidIds">Bitte geben Sie mindestens eine gültige ID ein</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click="addEmptyTieIds()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Weitere ID eingeben
                                </button>
                            </div>
                        </div>
                        <div class="row" id="inputPeriod">
                            <div class="col-md-12">
                                <label>Zeitraum:</label>
                                <div class="container">
                                    <div class="row">
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' class="form-control" placeholder="&lt;&lt;Datum von&gt;&gt;" ng-model="startDate"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker1').datetimepicker({
                                                viewMode: 'days',
                                                format: 'DD/MM/YYYY'
                                            }).on("dp.change", function(e) {
                                                    var element = $("#lindasMainContainer");
                                                    angular.element(element).scope().setStartDate(e.date.format('DD/MM/YYYY'));
                                                });
                                        });
                                        </script>
                                        <div class='col-sm-4'>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker2'>
                                                    <input type='text' class="form-control" placeholder="&lt;&lt;Datum bis&gt;&gt;" ng-model="endDate"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker2').datetimepicker({
                                                viewMode: 'days',
                                                format: 'DD/MM/YYYY'
                                            }).on("dp.change", function(e) {
                                                    var element = $("#lindasMainContainer");
                                                    angular.element(element).scope().setEndDate(e.date.format('DD/MM/YYYY'));
                                                });
                                        });
                                        </script>
                                    </div>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-show="invalidStartOrEndDate">Bitte geben Sie Start und Endzeitpunkt ein</div>
                        </div>
                        <label>Absenden:</label>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" aria-label="Left Align" ng-click="initializeVisualisation()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="js/map.js"></script>

<!--Scripts for Controller and Model-->
<script src="js/lindasMain.js"></script>
<script src="js/lindasMainCtrl.js"></script>

<!-- Scripts for Tester Object -->
<script src="js/testerObject.js"></script>

<script type="text/javascript">
    map.drawMap();
</script>


</body>

</html>>